.head1 修改博客
#edit_blog
	#blog_images
		- @blog.images.each do |image|
			.image
				= image_tag image.img.url
				%br
				= "image_id: #{image.id}"
	= form_for @blog, :url => update_blog_tools_path(:blog_id => @blog.id), :html => {:multipart => true} do |f|
		= f.file_field :image
		= f.submit "upload"
		= f.text_field :title, :class => "title_input"
		= f.text_area :text, :class => "text_input"
		= f.select :blog_type_id, types_option
		= f.submit "修改", :class => "confirm_button"
		