.head1 修改博客
#edit_blog
	#blog_images
		- @blog.images.each do |image|
			.image
				= image_link image.img.url, "#", {}, {:image_id => image.id}
				%br
				= "image_id: #{image.id}"
	#blog_musics
		- @blog.musics.each do |music|
			.music
				= link_to "#{music.id}: #{music.sound_file_name}", "#", :music_id => music.id
	#blog_attachs
		- @blog.attachments.each do |attach|
			.attach
				= link_to "#{attach.id}: #{attach.file_file_name}", "#", :attach_id => attach.id
	.trans_add= link_to "添加链接", "#", :id => "link_add"
	.trans_add= link_to "添加代码", "#", :id => "code_add"
	= form_for @blog, :url => update_blog_tools_path(:blog_id => @blog.id), :html => {:multipart => true} do |f|
		.image_upload
			上传图片
			= f.file_field :image
		.music_upload
			上传音乐
			= f.file_field :music
		.attachment_upload
			上传附件
			= f.file_field :attach
		= f.submit "upload"
		= f.text_field :title, :class => "title_input"
		= f.text_area :text, :class => "text_input"
		= f.select :blog_type_id, types_option
		= f.submit "修改", :class => "confirm_button"
		