.head1 新建博客
#new_blog
	.trans_add= link_to "添加链接", "#", :id => "link_add"
	.trans_add= link_to "添加代码", "#", :id => "code_add"
	= form_for @blog, :url => create_blog_tools_path, :html => {:multipart => true} do |f|
		.image_upload
			上传图片
			= f.file_field :image
		.music_upload
			上传音乐
			= f.file_field :music
		.attachment_upload
			上传附件
			= f.file_field :attach
		= f.submit "upload"
		= f.text_field :title, :class => "title_input"
		= f.text_area :text, :class => "text_input"
		= f.select :blog_type_id, types_option
		= f.submit "发表", :class => "confirm_button"
		