.title1 新建博客
#new_blog
	= form_for @blog, :method => "post" do |f|
		= f.text_field :title, :class => "title_input_word"
		= f.text_area :text, :class => "text_input_word"
		= f.select :blog_type_id, types_option
		= f.submit "发表", :class => "confirm_button"
		