#blog_detail
	#blog_title.head1= @blog.title
	#blog_info
		(
		= @blog.type_name
		= ": "
		= @blog.update_time
		)
	%pre#blog_content= @blog.content_with_media
	#oth_info
		阅读次数：
		=@blog.read_cnt

#create_comment
	= hidden_field_tag :blog_id, @blog.id
	= text_field_tag :name, "#{@visitor && !@visitor.name.empty? ? @visitor.name : ''}", :placeholder => "留下您的大名吧！嘛，不留就算了", :class => "title_input"
	= text_area_tag :comment_content, "", :placeholder => "说点什么吧...", :class => "text_input"
	= link_to "留言", comments_path, :id => "submit_comment", :class => "link_button"

#blog_comments
	- @blog.comments.each do |comment|
		.comment
			.comment_header
				.visitor_name= comment.visitor.display_name
				.comment_time= comment.time_str
			.comment_text= comment.content