#about_me
	.map
		%span.var= @admin.nick_name
		%span.oth = {
	.sub_info
		%span.cla string
		%span.var name
		%span.oth =
		%span.str= "\"#{@admin.true_name}\""
		%span.oth , 
	.sub_info
		%span.cla date
		%span.var birthday
		%span.oth =
		%span.obj= @admin.birthday
		%span.oth ,
	.sub_info
		%span.cla location
		%span.var company
		%span.oth =
		%span.str= "\"#{@admin.company}\""
		%span.oth ,
	.sub_info
		%span.cla string
		%span.var title
		%span.oth =
		%span.str= "\"#{@admin.title}\""
		%span.oth ,
	.sub_info
		%span.cla long int
		%span.var qq
		%span.oth =
		%span.var= @admin.qq
		%span.oth ,
	.sub_info
		%span.cla link
		%span.var sina_weibo
		%span.oth =
		%span= link_to "@邱晗_goshan", @admin.weibo, :target => "blank"
		%span.oth ,
	.sub_info
		%span.cla string
		%span.var wechat
		%span.oth =
		%span.str= "\"#{@admin.wechat}\""
		%span.oth ,
	.sub_info
		%span.cla string
		%span.var mail
		%span.oth =
		%span.str= "\"#{@admin.mail}\""
	.map 
		%span.oth }
	.comment
		= "/********************************************************************************************"
		%pre= @admin.desc
		= "/********************************************************************************************"
	#about_me_photo= image_tag @admin.photo.url
		