#about_me
	.map
		%span.var goshan
		%span.oth = {
	.sub_info
		%span.cla string
		%span.var name
		%span.oth =
		%span.str "邱晗"
		%span.oth , 
	.sub_info
		%span.cla date
		%span.var birthday
		%span.oth =
		%span.obj 1988-12-08
		%span.oth ,
	.sub_info
		%span.cla location
		%span.var company
		%span.oth =
		%span.str "DeNA"
		%span.oth ,
	.sub_info
		%span.cla string
		%span.var title
		%span.oth =
		%span.str "Engineer"
		%span.oth ,
	.sub_info
		%span.cla long int
		%span.var qq
		%span.oth =
		%span.var 328979319
		%span.oth ,
	.sub_info
		%span.cla link
		%span.var sina_weibo
		%span.oth =
		%span= link_to "@邱晗_goshan", "#"
		%span.oth ,
	.sub_info
		%span.cla string
		%span.var wechat
		%span.oth =
		%span.str "goshan128"
		%span.oth ,
	.sub_info
		%span.cla string
		%span.var mail
		%span.oth =
		%span.str "goshan.hanqiu@gmail.com"
	.map 
		%span.oth }
	.comment
		= "/********************************************************************************************"
		= "/ dsijfg"
		<br>
		= "/ dsijfg"
		<br>
		= "/ dsijfg"
		<br>
		= "/ dsijfg"
		<br>
		= "/ dsijfg"
		<br>
		= "/ dsijfg"
		<br>
		= "/********************************************************************************************"
	#about_me_photo= image_tag @admin.photo.url
		