.head1 修改资料
#admin_edit
	= form_for @admin, :url => admin_update_admins_path do |f|
		%table
			%tr
				%td 昵称
				%td= f.text_field :name
			%tr
				%td 生日
				%td= f.text_field :birthday
			%tr
				%td 公司
				%td= f.text_area :company
			%tr
				%td 职位
				%td= f.text_field :title
			%tr
				%td QQ
				%td= f.text_field :qq
			%tr
				%td 新浪微博
				%td= f.text_area :weibo
			%tr
				%td 微信号
				%td= f.text_field :wechat
			%tr
				%td 邮箱
				%td= f.text_field :mail
		= submit_tag