#blog_types_feed
	.head1 博客分类
	%table
		%tr
			%td 类型
			%td 建立时间
			%td 文章数
		%tr
			%td= link_to "默认分类", blogs_path(:blog_type_id => 0)
			%td ----
			%td= @default_blogs.count  
		- @blog_types.each do |type|
			%tr.type_info
				%td= link_to type.name, blogs_path(:blog_type_id => type.id)
				%td= type.updated_at.to_date
				%td= type.blogs_count