<%admin = admin_info%>

<!DOCTYPE html>
<html>
<head>
  <title>goshan Blogs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="nav_bar">
		<%= image_link "/assets/logo.png", root_path, :id => "logo"%>
		<div id="heading">
			<div id="slogen">:FallenCoder => "goshan"</div>
			<div id="status"><%= admin.status%></div>
		</div>
	</div>
	<div id="side_bar">
		<%= image_tag admin.avatar.url, :id => "avatar"%>
		<div id="nick_name"><%= admin.name%></div>
		<div id="info"><%= admin.company%></div>
		<div id="hot_types">
			<div id="hot_types_head">
				热门分类
				<%= link_to ">>", "#", :id => "show_types"%>
			</div>
			<%hot_types.each do |type| %>
				<div class="type_item">
					<%= link_to type.name, "/blogs?blog_type_id=#{type.id}", :class => "item_name"%>
					<span class ="blogs_count"><%= type.blogs_count%></span>
				</div>
			<%end%>
		</div>
	</div>
	<div id="content">
		<%= yield %>
	</div>
</body>
</html>
