<!DOCTYPE html>
<html>
<head>
  <title>goshan Blogs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="nav_bar">
		<%= image_tag "/assets/logo.png", :id => "logo"%>
		<div id="heading">
			<div id="slogen">:FallenCoder => "goshan"</div>
			<div id="status"><%= admin_info.status%></div>
		</div>
	</div>
	<div id="side_bar">
		<%= image_tag admin_info.avatar.url, :id => "avatar"%>
		<div id="nick_name"><%= admin_info.name%></div>
		<div id="info"><%= admin_info.company%></div>
	</div>
	<div id="content">
		<%= yield %>
	</div>
</body>
</html>
